.navbar {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links-right {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007bff;
}
