<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>
<body class="body">
<div class="navbar">
    <div class="left-items">
        <a href="#" id="latest" class="tab">Последнее</a>
        <a href="#" id="about" class="tab">О нас</a>
        <a href="#" id="news" class="tab">Новости</a>
        <a href="{% url 'vacancy_list' %}" id="vacancies" class="tab">Вакансии</a>
        <a href="#" id="faq" class="tab">FAQ</a>
        <a href="#" id="contacts" class="tab">Контакты</a>
        <a href="#" id="products" class="tab">Товары</a>
        <a href="#" id="gif" class="tab">GIF</a>
        <a href="#" id="rand" class="tab">Шутки</a>
        {% if user.is_authenticated and not user.is_staff %}
            <a href="{% url 'my_purchases' %}" id="mypurchases" class="tab">Мои покупки</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'promo_list' %}" id="promocodes" class="tab">Промокоды</a>
        {% endif %}
        {% if user.is_staff %}
            <a href="#" id="sales" class="tab active">Продажи</a>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        <div class="sp">
            <span>Привет, {{ user.username }}!</span>
            <a href="/logout">Выйти</a>
        </div>
    {% else %}
        <a href="/login">Войти</a>
    {% endif %}
</div>

<div class="container">
    <h1>Список покупок</h1>
    <form method="get" class="form-inline" style="margin-bottom: 20px;">
        <label for="city">Город:</label>
        <select name="city" id="city">
            <option value="">Все города</option>
            {% for c in unique_cities %}
                <option value="{{ c }}" {% if c == selected_city %}selected{% endif %}>{{ c }}</option>
            {% endfor %}
        </select>
        <button type="submit">Фильтровать</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>Покупатель</th>
            <th>Email</th> 
            <th>Телефон</th>  
            <th>Дата продажи</th>
            <th>Дата доставки</th>
            <th>Город</th>
            <th>Товары</th>
            <th>Итоговая цена</th>
        </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.customer.first_name }} {{ sale.customer.last_name }}</td>
                <td>{{ sale.customer.email }}</td> 
                <td>{{ sale.customer.phone }}</td>  
                <td>{{ sale.sale_date|date:"Y-m-d" }}</td>
                <td>{{ sale.delivery_date|date:"Y-m-d" }}</td>
                <td>{{ sale.city }}</td>
                <td>
                    <ul>
                        {% for sale_product in sale.saleproduct_set.all %}
                            <li>{{ sale_product.product.name }}
                                - {{ sale_product.quantity }} {{ sale_product.product.get_unit_display }}
                                ({{ sale_product.price }})
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ sale.total_price }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <h2>Продажи по клиентам</h2>
    <ul>
        {% for name, total in sales_total_by_customer.items %}
            <li>{{ name }}: {{ total }} BYN</li>
        {% endfor %}
    </ul>

    <h2>Статистические показатели:</h2>
    <ul>
        <li>Средняя сумма продаж: {{ sales_mean }} BYN</li>
        <li>Медиана продаж: {{ sales_median }} BYN</li>
        <li>Мода продаж: {{ sales_mode }}</li>
        <li>Самый популярный тип товара: {{ most_popular_type }}</li>
        <li>Самый прибыльный тип товара: {{ most_profitable_type }}</li>
    </ul>

    <h2>График</h2>
    <img src="/media/stats/sale_statistics.png" alt="График">

    <h2>Товар со спросом и без</h2>
    <ul>
        <li>Самый востребованный товар: {{ most_demanded_product_name }}</li>
        <li>Товары без продаж:
            {% if unsold_products %}
                <ul>
                    {% for p in unsold_products %}
                        <li>{{ p.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                Все товары были проданы.
            {% endif %}
        </li>
    </ul>

    <h2>Ежемесячный объём продаж по категориям</h2>
    <ul>
        {% for item in monthly_sales %}
            <li>
                {{ item.month|date:"Y-m" }} — {{ item.product__category__name }}:
                {{ item.total }} продано
            </li>
        {% endfor %}
    </ul>

</div>
<script src="{% static 'js/navigation.js' %}"></script>
</body>
</html>