{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
{% endblock %}

{% block title %}Новости{% endblock %}
    
{% block content %}
<main>
    <header>
        <h1>Новости</h1>
    </header>

    <section aria-label="Список новостей">
        {% for article in articles %}
            <article class="article-summary">

                <figure>
                    <img src="{{ article.image.url }}" alt="{{ article.title }}">
                </figure>

                <header>
                    <h2>{{ article.title }}</h2>
                </header>

                <p class="article-summary">{{ article.summary }}</p>

                <footer>
                    <a href="{% url 'article_detail' article.pk %}" class="read-more">Читать далее</a>
                </footer>

            </article>
        {% endfor %}
    </section>

</main>
{% endblock %}
