{% extends "base.html" %}
{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}
<main>
    <header>
        <h1>Контакты</h1>
    </header>

    <section aria-label="Список сотрудников">
        <table class="contacts-table">
            <thead>
                <tr>
                    <th scope="col" id="photo">Фото</th>
                    <th scope="col" id="name">Имя</th>
                    <th scope="col" id="job">Описание работы</th>
                    <th scope="col" id="phone">Телефон</th>
                    <th scope="col" id="email">Email</th>
                </tr>
            </thead>

            <tbody>
                {% for employee in employees %}
                <tr>
                    <td colspan="2" headers="photo name">
                        <figure>
                            <img src="{{ employee.photo.url }}" alt="{{ employee.name }}" width="100">
                            <figcaption>{{ employee.name }}</figcaption>
                        </figure>
                    </td>

                    <td headers="job">{{ employee.job_description }}</td>
                    <td headers="phone"><a href="tel:{{ employee.phone }}">{{ employee.phone }}</a></td>
                    <td headers="email"><a href="mailto:{{ employee.email }}">{{ employee.email }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>
</main>
{% endblock %}
