{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}
    
{% block content %}
<main>
    <article>
        <header>
            <h1>{{ article.title }}</h1>
        </header>

        <figure>
            <img src="{{ article.image.url }}" alt="{{ article.title }}">
        </figure>

        <section class="article-content">
            <p>{{ article.content }}</p>
        </section>

        <footer>
            <nav>
                <a href="{% url 'article_list' %}">Вернуться к списку статей</a>
            </nav>
        </footer>

    </article>
</main>
{% endblock %}
