{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
{% endblock %}

{% block title %}Отзывы о товаре "{{ product.name }}"{% endblock %}

{% block content %}
<main>
    <header>
        <h1>Отзывы о товаре "{{ product.name }}"</h1>
    </header>

    <section class="reviews-section" aria-label="Отзывы о товаре">
        {% for review in reviews %}
        <article class="review">
            <header>
                <h2>{{ review.author }}</h2>
            </header>
            <p>{{ review.text }}</p>
            <p><strong>Рейтинг:</strong> {{ review.rating }}</p>
        </article>
        {% empty %}
        <p>Пока нет отзывов о данном товаре.</p>
        {% endfor %}
    </section>

    {% if user.is_authenticated and not user.is_staff %}
    <section class="add-review-section" aria-label="Добавить отзыв о товаре">
        <header>
            <h2>Оставить отзыв</h2>
        </header>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Оставить отзыв</button>
        </form>
    </section>
    {% endif %}
</main>
{% endblock %}
